

<div class="row" > 
    
        <div style="float:left; margin-right: 25px;">
        <a href="https://secure.gravatar.com/avatar/<%=gravatar_id%>?s=200"><img src="https://secure.gravatar.com/avatar/<%=gravatar_id%>?s=90" /></a>
        </div>

        <div>

	        <div style="margin-bottom:5px;">
	        <a  target="_blank" href="https://github.com/<%= login %>" style="font-size:18px; font-weight: bold; color: <%= color%>">
				<% if (full_name) {%>
				<%= full_name%> (<%= login %>)
				<%} else {%>
				<%= login %>
				<%}%>
			</a>
			</div>
			
			<% if (location) {%>
			<i class="icon-home"></i> lives in <%= location%><br />
			<%}%>


			<% if (company) {%>
			<i class="icon-briefcase"></i> works at <%= company%><br />
			<%}%>

			<% if (blog) {%>
			<i class="icon-globe"></i> <a href="<%= blog%>"><%= blog%></a><br />
			<%}%>

			<i class="icon-eye-open"></i> watches <%= project_name%>

			<br />

			
			</section>

			<% if (bio) {%>
			<br />
			<i><%= bio%></i><br />
			<%}%>

		</div>




</div>
