
<div id="map-buttons" class="btn-group" data-toggle="buttons-radio" style="margin-left: 62px; margin-bottom: 20px">
  <button type="button" id="world" class="btn mapBtn active">World</button>
  <button type="button" id="US" class="btn mapBtn">US</button>
  <button type="button" id="europe" class="btn mapBtn">Europe</button>
  <button type="button" id="americas" class="btn mapBtn">Americas</button>
  <button type="button" id="africa" class="btn mapBtn">Africa</button>
  <button type="button" id="asia" class="btn mapBtn">Asia</button>
  <button type="button" id="oceania" class="btn mapBtn">Oceania</button>		  
</div>

<img id="loading" src="/img/wait.gif" style="margin-left: 200px;" />
<div id="map" />
