.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    width: 220px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

.hidden {
	display: none;
}

.codeSampleHighlight {
	font-weight: bold;
	color: navy;
}

.codeSampleSearchHighlight {
	font-weight: bold;
	color: #C76D06;
}

.graphTitle {
	font-weight:bold; 
	color:black;
	margin-bottom: 0px;
}

.graphHelp {
	color: #3B5998;
	margin-left: 10px;
	font-weight: bolder;
	font-size: normal;
	text-align: right;
	cursor: pointer;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  font-weight: bold;
}

.heroBigWord {
	font-size: x-large;
	font-weight: bold;
	color: blue;
}

#main {
	margin-top: 20px;
	background-color: white;	
	min-height: 370px;	
	background: url('/img/moon_45_small.png') no-repeat;	
	background-position: 0px 0px;
}

.bullet {
	width: 18px;
}

.hero_special_word {
	color: #0070C0;
	text-weight: bold;
}

.hero_bullet {
	font-size: 20px;
}

.hero_space {
	height: 30px;
}

.mapBtn {
	padding: 7px;
}



/*css*/

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}