
<b>By Project</b><br/>

<div id="loading">
	<img width="20" style="margin-left: 3px;" src="/img/wait.gif" />
	<br />
</div>

<a id="all-items" href="#"><b>All (<span id="all-items-count"><img width="20" style="margin-left: 3px;" src="/img/wait.gif" /></span>)</b></a>
<div id="other-items" style="word-wrap:break-word; width: 100px" />



<div id="divPager" style="margin-top:12px;">
    <ul class="pager" style="text-align: left">
      <li>
        <a href="#" id="prev" style="visibility:hidden">Prev</a>
      </li>
      <li>
        <a href="#" id="next" style="visibility:hidden">Next</a>
      </li>
    </ul>
  </div>
