<!DOCTYPE html>
<html lang="en">
<head>

<link href="/css/bootstrap.css" rel="stylesheet">

<script src="/lib/jquery-1.7.2.min.js"></script>
<script src="/lib/underscore-min.js"></script>
<script src="/lib/backbone-min.js"></script>
<script src="/lib/backbone.analytics.js"></script>
<script src="/lib/backbone.paginator.js"></script>
<script src="/js/models/pagedList.js"></script>
<script src="/js/utils.js"></script>



<script src="item_model.js"></script>
<script src="item_view.js"></script>
<script src="list_model.js"></script>
<script src="list_view.js"></script>

</head>

<body id="body">

start
<br /><br /><br /><br />

<div class="row" style="margin:10px;">
<div id="root" class="span2"></div>
</div>

<br /><br /><br /><br />
end


<script src="main.js"></script>


</body>
</html>


